
body {
  font-family: 'League Spartan', sans-serif !important;
  margin: 0;
  padding: 0;
  cursor: none;
  color: #FFF8E8;
}

nav {
  background-color: #ededed;
}

nav ::after {
    content: '';
    display: table;
    clear: both;
  }

nav h1 {
    margin: 0px;
    padding: 0px;
    color: black;
    line-height: 80px;
    padding-left: 100px;
    font-weight: bold;
    transition: .3 ease;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin-left: 70px;
    padding-top: 20px;
    position: relative;
}

nav a {
    color: black; 
    transition: .3 ease;
}
  
nav .nav-item:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
}

nav .name {
    float: left;
    font-size: 60px;
    transition: .3 ease;
}

nav .name:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
}

nav .nav {
  padding-left: 200px;

}

main {
  padding-top: 50px;
  width: 60%;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.container img {
  width: 100vh;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: black;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0, 100%, 0.);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

footer {
  background: #0A0908;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}


